.main-content{
    padding: 30 30 30 30;
    font-size: 0.5rem + 0.5rem;
  
    .text1{
      color: blue;
    }
    
    .text2{
      color: red;
    }
    
    .text3{
      color: yellow;
    }
    
    .text4{
      color: blue;
    }
    
    .text5{
      color: green;
    }
    
    .text6{
      color: red;
    }
    
  }