.form-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    padding: 25px;
    background: #fff;
    padding: 40px;
}
.main-content{
    padding: 30 30 30 30;
    font-size: 0.5rem + 0.5rem;
  
    .text1{
      color: blue;
    }
    
    .text2{
      color: red;
    }
    
    .text3{
      color: yellow;
    }
    
    .text4{
      color: blue;
    }
    
    .text5{
      color: green;
    }
    
    .text6{
      color: red;
    }
    
  }